.options {
    margin: 1rem;
}
.options .option {
    padding: .05rem 1rem;
    margin: 0.25rem;
    border: 1px solid grey;
    background-color: lightgrey;
    border-radius: 3px;
}

.options .option.selected {
    border: 1px solid blue;
    background-color: skyblue;
    border-radius: 3px;
}